.logo .logo-heading {
  font-size: 3rem;
}

.nav-link {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.half-square {
  display: inline-block;
  border-top: 20px solid var(--color-ms-darker);
  border-right: 20px solid var(--color-ms-orange);
}

.nav-link .border {
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-ms-darker);
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link .active .border {
  transform: scaleX(1);
  transition: all 0.25s ease-out;
}

.searchbar {
  width: 40%;
  margin-inline: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-ms-off-white);

  cursor: text;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: #ff7f50;
}

.search-label {
  cursor: text;
  padding: 0px 12px;
}

.search-icon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.search-icon path {
  fill: rgb(114, 114, 114);
}
