@if(!isCheckoutRoute){
<nav class="nav-container absolute top-0 left-0 w-full flex items-center">
  <div class="logo flex items-center p-4 relative">
    <h1 class="logo-heading text-ms-darker p-4">Drift</h1>

    <img
      class="w-[40px] aspect-square ms-2 object-cover rounded-full"
      src="/samurai.png"
      alt="logo"
    />
  </div>
  <div class="right-nav ms-auto relative flex items-center">
    <ul class="nav-links flex items-center gap-x-2 w-fit">
      @for (link of links; let idx = $index; track idx){
      <li
        class="nav-link p-3 cursor-pointer text-ms-dark grid place-items-center"
      >
        <a
          class="relative"
          [routerLink]="[link.path]"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ link.title }}
          <div class="border"></div>
        </a>
      </li>
      }
      <li class="cart cursor-pointer relative p-3" (click)="toggleCart()">
        @if(appService.getCartItems().length> 0){
        <span
          class="text-sm flex items-center justify-center absolute translate-y-[-60%] top-3 right-3 w-[18px] h-[18px] p-1 rounded-full bg-ms-orange text-ms-white"
          >{{ appService.getCartItems().length }}</span
        >

        }
        <svg
          class="cart-icon me-3 size-6 ms-2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          />
        </svg>
      </li>
    </ul>
    <div class="half-square me-12"></div>
  </div>
</nav>
}
