.logo .logo-heading {
  font-size: 3rem;
}

.nav-link {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.half-square {
  display: inline-block;
  border-top: 20px solid var(--color-ms-darker);
  border-right: 20px solid var(--color-ms-orange);
}

.nav-link .border {
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-ms-darker);
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link .active .border {
  transform: scaleX(1);
  transition: all 0.25s ease-out;
}
