<div
  class="filters-container w-[250px] fixed top-42 p-3 ps-4 border-t border-b border-e border-ms-darker"
>
  <h2 class="text-xl">Filters</h2>
  <div class="filters">
    <div class="vendor my-4">
      <mat-accordion>
        <mat-expansion-panel
          class="bg-ms-white"
          (opened)="openPanel.set(true)"
          (closed)="openPanel.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold"> Vendors </mat-panel-title>
          </mat-expansion-panel-header>
          @for (vendor of vendors(); track $index) {
          <input
            (change)="changeVendors()"
            class="me-2"
            type="checkbox"
            [id]="vendor.name"
            [name]="vendor.name"
            [value]="vendor.vendorUuid"
          />
          <label class="text-xs" [for]="vendor.name">{{ vendor.name }}</label
          ><br />

          }
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="category my-4">
      <mat-accordion>
        <mat-expansion-panel
          class="bg-ms-white"
          (opened)="openPanel.set(true)"
          (closed)="openPanel.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold"> Categories </mat-panel-title>
          </mat-expansion-panel-header>
          @for (category of categories(); track $index) {
          <input
            (change)="changeCategories()"
            class="me-2"
            type="checkbox"
            [id]="category.name"
            [name]="category.name"
            [value]="category.categoryUuid"
          />
          <label class="text-xs" [for]="category.name">{{
            category.name
          }}</label
          ><br />

          }
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="price">
      <mat-accordion>
        <mat-expansion-panel
          class="bg-ms-white"
          (opened)="openPanel.set(true)"
          (closed)="openPanel.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="font-bold"> Price </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="price-filter flex items-center">
            <span class="current-price font-mono block w-[32px] mx-2">
              {{ priceFilter() }}&euro;</span
            >
            <input
              (change)="changePrice($event)"
              [value]="priceFilter()"
              type="range"
              name="price"
              id="price"
              min="0"
              max="500"
              step="1"
            />
            <span class="max-price block font-mono w-[32px] mx-2"
              >500&euro;</span
            >
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="size"></div>
  </div>
</div>
