<section class="shop flex">
  <app-filters />
  <div
    class="products-container relative ms-auto px-6"
    [class]="shopLoading() ? 'overflow-hidden' : ''"
  >
    <div class="products grid grid-cols-4 gap-x-3 gap-y-3 pb-24 relative">
      @if( this.shopService.getProductsUntilPage(currentPage()).length === 0 &&
      this.shopLoading()){ @for(item of dummyCards; track $index){

      <app-product-card-skeleton />

      } } @else if( this.shopService.getProductsUntilPage(currentPage()).length
      === 0){
      <div
        class="no-results grid place-items-center text-ms-darker text-center col-span-4 fixed top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]"
      >
        <img class="size-14" src="./no-results.png" alt="" />
        <span class="block my-3">No results found</span>
      </div>
      } @else { @for(product of
      this.shopService.getProductsUntilPage(currentPage()); track $index){

      <app-product-card [product]="product" />
      } }
    </div>
  </div>
</section>

@if(pages() > 1 && currentPage() < pages()){
<div class="load-more-container ms-auto">
  <div class="load-more w-fit cursor-pointer sticky bottom-0 left-0 mx-auto">
    <button
      (click)="paginationService.incrementCurrentPage()"
      class="load-more-btn cursor-pointer font-semibold bg-ms-off-white block mx-auto border border-ms-darker text-ms-darker px-4 py-3"
    >
      Load more
    </button>
  </div>
</div>

}
