<section class="shop flex">
  <app-filters />
  <div
    class="products-container relative ms-auto px-6"
    [class]="appService.getShopLoading()   ? `overflow-hidden` : ''"
  >
    @if(appService.getShopLoading()){
    <div class="skeleton grid grid-cols-4 gap-x-3 gap-y-3 pt-24 px-8">
      <div class="skeleton-card h-[580px]">
        <div class="skeleton-img w-full aspect-square"></div>
        <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
      </div>
      <div class="skeleton-card h-[580px]">
        <div class="skeleton-img w-full aspect-square"></div>
        <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
      </div>
      <div class="skeleton-card h-[580px]">
        <div class="skeleton-img w-full aspect-square"></div>
        <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
      </div>
      <div class="skeleton-card h-[580px]">
        <div class="skeleton-img w-full aspect-square"></div>
        <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
      </div>
    </div>
    } @else {
    <div class="products grid grid-cols-4 gap-x-3 gap-y-3 pb-24 relative">
      @for(product of appService.getProducts(); track product.productUuid){

      <app-product-card [product]="product" />
      } @if(loadingMore){
      <div class="skeleton col-span-4 grid grid-cols-4 gap-x-3 gap-y-3">
        <div class="skeleton-card h-[580px]">
          <div class="skeleton-img w-full aspect-square"></div>
          <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
        </div>
        <div class="skeleton-card h-[580px]">
          <div class="skeleton-img w-full aspect-square"></div>
          <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
        </div>
        <div class="skeleton-card h-[580px]">
          <div class="skeleton-img w-full aspect-square"></div>
          <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
        </div>
        <div class="skeleton-card h-[580px]">
          <div class="skeleton-img w-full aspect-square"></div>
          <div class="skeleton-content w-full p-12 bg-ms-off-white"></div>
        </div>
      </div>
      }
    </div>

    }
  </div>
</section>
<!-- @if(pages && currentPage < pages){
<div class="load-more-container ms-auto">
  <div class="load-more w-fit cursor-pointer sticky bottom-0 left-0 mx-auto">
    <button
      (click)="loadMore()"
      class="load-more-btn cursor-pointer font-semibold bg-ms-off-white block mx-auto border border-ms-darker text-ms-darker px-4 py-3"
    >
      Load more
    </button>
  </div>
</div>

} -->
