.bg-heading {
  font-size: 500px;
  letter-spacing: 80px;
  text-wrap: nowrap;
  color: var(--color-ms-muted);
  width: 100vh;
  height: 500px;
  line-height: 1;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(41.6%) rotate(90deg);
  scrollbar-width: none;
}

.bg-heading::-webkit-scrollbar {
  display: none;
}

.line {
  z-index: -1;
  top: 10%;
  left: 50%;
  translate: -50%;
  width: 100vw;
  height: 100vh;
  transform: perspective(500px) translateZ(-200px);
}

.page-number {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
  translate: 40% 10%;
}

.page-number,
.page-number span {
  font-family: "Tokyo 2097";
  font-size: 52px;
  font-weight: 200;
}

.shoe-img {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform: perspective(900px) translateZ(300px) rotate(-20deg);
}

.samurai {
  transform: perspective(500px) translateZ(50px);
}
