.bg-heading {
  font-size: 500px;
  letter-spacing: 80px;
  text-wrap: nowrap;
  color: var(--color-ms-dark);
  width: 100vh;
  height: 500px;
  line-height: 1;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(41.6%) rotate(90deg);
  scrollbar-width: none;
  z-index: 1;
}

.bg-heading::-webkit-scrollbar {
  display: none;
}

.line {
  top: 10%;
  left: 50%;
  translate: -50%;
  width: 100vw;
  height: 100vh;
  transform: perspective(500px) translateZ(-200px);
}
