<section class="home">
  <div class="shoe-img w-lg aspect-square">
    <img class="w-full h-auto" src="model-1-front-upscaled.webp" alt="" />
  </div>
  <h1 class="bg-heading uppercase cursor-default">tokyo drift 2099</h1>
  <div class="line border-e border-b border-ms-darker fixed">
    <div class="page-number z-10 flex text-ms-darker">
      0
      <span class="text-ms-orange">{{ page }}</span>
    </div>
    <div
      class="shaped-border w-[100px] translate-x-[50%] translate-y-[50%] bg-white aspect-square border-s border-ms-darker absolute bottom-0 right-0 rotate-45"
    ></div>
  </div>
</section>
