.add-to-cart {
  color: var(--color-ms-darker);
  border: 1px solid var(--color-ms-darker);
}

.add-to-cart .shaped-border {
  border-left: 1px solid;
  border-color: var(--color-ms-darker);
}

.add-to-cart .background {
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.25s ease-out;
  will-change: transform;
}
.add-to-cart:hover .background {
  transform: scaleX(1);
  transition: all 0.25s ease-out;
}

.add-to-cart .text {
  color: var(--color-ms-darker);
  will-change: transform;
}

.add-to-cart:hover .text,
.add-to-cart:hover .cart-icon {
  color: var(--color-ms-white);
  transition: all 0.25s ease-out;
}

.previous-route a span {
  border-bottom: 1px solid transparent;
}

.previous-route:hover a svg {
  translate: -8px;
  transition: all 0.2s ease-in;
}

.previous-route:hover a span {
  border-bottom: 1px solid var(--color-ms-darker);
  transition: all 0.2s ease-in;
}

.thumbnail .layover {
  transition: all 0.2s ease-in;
}
