<section class="product pt-48">
  @if(!isLoading && product && appService.getIsShopUrlReady()){

  <div class="max-w-5xl grid grid-cols-2 mx-auto gap-x-6 relative">
    <div class="previous-route absolute top-0 translate-y-[-100%] left-0">
      <a
        class="flex items-center gap-x-2 py-3"
        [routerLink]="['/' + appService.getShopPath()]"
        [queryParams]="appService.getShopQueryParams()"
        ><svg
          class="size-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
          />
        </svg>
        <span>Back to shop</span>
      </a>
    </div>
    <div class="product-img col-span-1">
      <img class="w-full object-cover" [src]="product.medias[0].path" alt="" />
    </div>
    <div class="product-content flex flex-col col-span-1 p-4 bg-ms-off-white">
      <h1 class="text-3xl">{{ product.title }}</h1>
      <div class="vendor py-4">{{ product.vendor.name }}</div>
      <p class="text-ms-muted">{{ product.description }}</p>
      <div
        (click)="addToCart(product)"
        class="add-to-cart cursor-pointer relative w-fit mt-auto"
      >
        <span
          class="text flex items-center relative z-10 px-4 py-3 w-fit font-bold"
          >Add to cart
          <svg
            class="cart-icon size-6 ms-2"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
        </span>
        <div class="background bg-ms-orange absolute left-0 top-0 z-0"></div>
        <div
          class="shaped-border w-[20px] bg-ms-off-white aspect-square translate-x-[50%] translate-y-[50%] absolute right-0 bottom-0 rotate-45"
        ></div>
      </div>
    </div>
  </div>

  }
</section>
