.checkout-logo .logo-heading {
  font-size: 3rem;
}

.previous-route a span {
  border-bottom: 1px solid transparent;
}

.previous-route:hover a svg {
  translate: -8px;
  transition: all 0.2s ease-in;
}

.previous-route:hover a span {
  border-bottom: 1px solid var(--color-ms-darker);
  transition: all 0.2s ease-in;
}

#address-element .p-Grid {
  display: flex;
}
.pay-btn {
  color: var(--color-ms-dark);
  background-color: var(--color-ms-orange);
  border: 1px solid var(--color-ms-orange);
  transition: all 0.25s ease-out;
}

.pay-btn .shaped-border {
  border-left: 1px solid;
  border-color: var(--color-ms-orange);
}

.pay-btn span {
  color: var(--color-ms-white);
}

.pay-btn.disable {
  background-color: rgba(255, 127, 80, 0.6);
  border-color: rgba(255, 127, 80, 0.6);
  color: rgba(236, 240, 248, 0.6);
  pointer-events: none;
  transition: all 0.25s ease-out;
}

.stripe-email-label {
  margin-bottom: 0.25rem;
}

.stripe-email-label,
#email {
  color: #30313d;
  font-size: 0.93rem;
}

.stripe-email-label,
#email,
.email-error {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#email {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
  background-color: white;
  border-radius: 5px;
  padding: 0.6rem;
  transition: all 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
}
#email:focus {
  outline: 0px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02),
    0 0 0 3px hsla(210, 96%, 45%, 25%), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
}

.ms-loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--color-ms-white) #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
