<section class="checkout min-h-screen grid grid-cols-2">
  @if(paymentLoading || addressLoading){
  <div class="loader fixed left-0 top-0 bottom-0 w-full z-40 bg-ms-white">
    <lottie-player
      class="max-w-[300px] mx-auto"
      src="/loader.json"
      autoplay
      speed="1"
      loop
    ></lottie-player>
  </div>
  }
  <div class="payment-form bg-ms-white">
    <div class="heading flex items-center">
      <div class="previous-route ms-6">
        <a
          class="flex items-center gap-x-2 py-3"
          [routerLink]="['/' + appService.getShopPath()]"
          [queryParams]="appService.getShopQueryParams()"
          ><svg
            class="size-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
            />
          </svg>
          <span>Back to shop</span>
        </a>
      </div>
      <div class="checkout-logo flex items-center p-4 relative">
        <h1 class="logo-heading text-ms-darker p-4">Drift</h1>

        <img
          class="w-[40px] aspect-square ms-2 object-cover rounded-full"
          src="/samurai.png"
          alt="logo"
        />
      </div>
    </div>
    <form
      action="/"
      class="flex items-start max-w-xl mx-auto gap-x-3"
      id="payment-form"
    >
      <div class="user-infos">
        <div class="flex flex-col mb-3.5">
          <label for="email" class="stripe-email-label">Email</label>
          <input
            class="border focus:border-[#0570de]"
            [class]="
              emailError !== null ? ' border-red-500' : 'border-[#e6e6e6]'
            "
            [(ngModel)]="email"
            (change)="resetEmailError()"
            type="text"
            name="email"
            id="email"
          />
          <span class="email-error text-red-500 text-sm">{{ emailError }}</span>
        </div>
        <div id="address-element"></div>
      </div>
      <div id="payment-element"></div>
    </form>
  </div>
  <div
    class="checkout-details p-3 text-ms-white bg-ms-darker border-s-2 border-ms-orange"
  >
    <div class="checkout max-w-xl mx-auto pt-12">
      <h2 class="text-2xl pb-3">Order details:</h2>
      @for(item of items; track item.productUuid){
      <div class="order-item flex items-center py-3">
        <img
          class="max-w-[120px] aspect-video object-cover"
          [src]="item.img"
          alt=""
        />
        <div class="content p-3">
          <h4>{{ item.title }}</h4>
          <span class="font-mono text-sm">{{ item.price }}&euro;</span>
        </div>
        <div class="quantity flex items-center p-3 ms-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
          <span class="inline-block font-mono text-lg text-ms-white px-2">{{
            item.quantity
          }}</span>
        </div>
      </div>
      }
      <div class="total font-mono w-fit ms-auto pe-3 py-4">
        Total:
        {{ total }}
      </div>
      <div
        (click)="payOrder($event)"
        class="pay-btn cursor-pointer relative w-fit mt-6"
        [class]="submitting ? 'disable' : ''"
      >
        <span
          class="text tracking-widest inline-block px-3 py-2 w-fit font-bold relative"
        >
          <span [class]="submitting ? 'opacity-0' : 'opacity-100'"
            >Pay Order
          </span>
          @if(submitting){
          <div
            class="ms-loader absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%]"
          ></div>
          }
        </span>
        <div
          class="shaped-border w-[20px] bg-ms-darker aspect-square translate-x-[50%] translate-y-[50%] absolute right-0 bottom-0 rotate-45 z-20"
        ></div>
      </div>
    </div>
  </div>
</section>
